<body >
  <div class="container">
    <div class="form">
      <button class="btn-employee" (click)="getNextPlayer()">Next Player</button>
      <div class="currentPrice" style="text-align: right;margin-left:auto"
        *ngIf="player && player.currentPrice == null && !player.isSold">No bid yet</div>
      <div class="currentPrice" style="text-align: right;margin-left:auto"
        *ngIf="player.currentPrice != null  && !player.isSold">Current bid: {{player.currentPrice | currency
        :'INR':'symbol':'.0-0'}}</div>
      <div class="currentPrice" style="text-align: right;margin-left:auto"
        *ngIf="player.currentPrice != null  && player.isSold">Sold to: {{player.soldTo}} at {{player.currentPrice |
        currency
        :'INR':'symbol':'.0-0'}}</div>

    </div>
    <div class="player" *ngIf="player">
      <div class="playerData">
        <div class="currentPrice">Base price: {{player.basePrice | currency :'INR':'symbol':'.0-0'}}</div>
        <div class="name">{{player.name}}</div>
        <div class="spec">{{player.skills}}</div>
        <div class="tags">
          <!-- <div class="designation">Emp/Int</div> -->
          <div class="captain" *ngIf="player.wantToBeCaptain">Like to be captain</div>
        </div>
        <div class="style-container">
          <div class="batting-style">
            <div class="style">Batting Style: {{player.battingStyle}}</div>
            <div class="rating" *ngIf="player.battingRating">{{player.battingRating}}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path
                  d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                </path>
              </svg>
            </div>
            <div class="rating" *ngIf="!player.battingRating">-
            </div>
          </div>
          <div class="bowling-style">
            <div class="style">Bowling Style: {{player.bowlingStyle}}</div>
            <div class="rating"*ngIf="player.bowlingRating">{{player.bowlingRating}}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path
                  d="M381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3z">
                </path>
              </svg>
            </div>
            <div class="rating" *ngIf="!player.bowlingRating">-
            </div>
          </div>
        </div>
      </div>
      <div class="auction" *ngIf="!player.isSold">
        <div class="btn-sold" (click)="soldThePlayer(true,player.id)">Sold</div>
        <div class="btn-unsold" (click)="soldThePlayer(true,player.id)">Unsold</div>
      </div>
    </div>
  </div>
  <div class="list-data">
    <div class="btn-close">X</div>
    <div class="list-container">
      <div class="list-txt">Remaining:</div>
      <div class="remaining-list"></div>
      <div class="list-txt">Sold:</div>
      <div class="sold-list"></div>
      <div class="list-txt">Unsold:</div>
      <div class="unsold-list"></div>
    </div>
  </div>
</body>
